body {
    text-align: center;
    font-family: "Arial";
    color: black;
    text-align: center;
}

#cabecera {
    background-color: darkcyan;
    font-weight: bold;
    color: whitesmoke;
    font-size: larger;
}

#legible {
    color: black;
    font-weight: 300;
    font-size: small;
}

#contenedor {
    border: 1px solid purple;
}

#titulo {
    width: 250 px;
    color: blueviolet;
    font-size: medium;
}